<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Home</title>
    <head>
    <body>
    <p>Welcome to Sarah Beckley's website!</p>
    <p>This is me:</p>
    <img src="{{url_for('static', filename='profilepicture.png')}}" align="middle" height= "250" width= "250"/>
    <p>I'm a senior at Barnard College.</p>
    <p>I'm a philosophy major and a sociology minor.</p>
    <a href="/clips">I'm an aspiring journalist! Click to see my best work</a>
    </body>
</html>


