<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Home</title>
    <head>
    <body>
    <p>Welcome to Sarah Beckley's website!</p>
    <p>This is me:</p>
    <img src="{{url_for('static', filename='profilepicture.png')}}" align="middle" height= "250" width= "250"/>
    <p>I'm a senior at Barnard College.</p>
    <p>I'm a philosophy major and a sociology minor.</p>
    <p>I'm an aspiring journalist!</p>
    <a href="/clips">Click here to see my best work!</a>
    <p>My senior year will always be remembered for being cut short, but I want to remember more than its unusual ending.</p>
    <a href="/memory">Click here to read more about my senior year!</a>
    </body>
</html>


