<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Home</title>
    <head>
    <body>
    <p>Here's me and my two best friends:</p>
    <img src="{{url_for('static', filename='gradsonsteps.png')}}" align="middle" height= "400" width= "300"/>
    <p>Having great friends and finding my community on campus was the best part of senior year.</p>
    <p>My favorite class I took was a sociology class called Sociology of Schools, Teaching, and Learning.</p>
    <p>I have become passionate about educational inequity, and will be moving to Memphis to teach elementary school as part of the Teach For America 2020 corps this fall.</p>
    <p>I also enjoyed expanding my mind by learning to program!</p>
    <p>So, even though it had a sad ending, it's been a good year.</p>
    </body>
</html>