<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Home</title>
    <head>
    <body>
    <p>My favorite clips:</p>
    <ul>
    <li><a href="https://www.elle.com/culture/books/a22602946/ro-kwon-the-incendiaries-interview/">Novelist R.O. Kwon On Losing Her Religion (ELLE Magazine)</a></li>
    <li><a href="https://www.columbiaspectator.com/arts-and-entertainment/2019/05/21/shaquan-nelson-seas-19-on-creating-his-own-clothing-label-and-how-a-turtle-can-climb-a-fence/">Shaquan Nelson, SEAS ’19, on creating his own clothing label and how a turtle can climb a fence (Columbia Daily Spectator)</a></li>
    <li><a href="https://www.columbiaspectator.com/arts-and-entertainment/2019/07/12/wu-and-nussbaum-reopens-one-year-later-with-inverted-name-but-same-dedication-to-bagels/">Wu and Nussbaum reopens one year later with inverted name but same dedication to bagels (Columbia Daily Spectator)</a></li>
    <li><a href="https://www.columbiaspectator.com/arts-and-entertainment/2018/03/01/columbia-alumna-olivia-harris-celebrates-family-togetherness-with-birthday-performance/">Columbia alumna Olivia Harris celebrates family, togetherness with birthday performance (Columbia Daily Spectator)</a></li>
    <li><a href="https://www.columbiaspectator.com/arts-and-entertainment/2017/10/19/behind-the-scenes-with-columbias-costume-designers/">Behind the scenes with Columbia’s costume designers (Columbia Daily Spectator)</a></li>
    </ul>
    </body>
</html>